<div th:fragment="cashOperations(login,accounts)">
    <form method="post" th:action="${'/user/'+login+'/сash'}">
        <table style="width:100%;margin-left:auto;margin-right:auto;border-radius:2%;padding:10px;background-color:whitesmoke;">
            <tr th:if="${cashErrors!=null}" th:each="cashError : ${cashErrors}">
                <td style="color:red;" th:text="${cashError}"/>
            </tr>
            <tr>
                <td>
                    <p style="color:green;" th:if="${isCashOperationSucceed==true}">операция успешно проведена</p>
                <td>
            </tr>
            <tr>
                <td style="font-weight:bold;">Наличные</td>
                <td>
                    Валюта
                    <select name="accountCurrency">
                        <option th:each="eachAccount:${accounts}" th:if="${eachAccount.isActive()}"
                                th:value="${eachAccount.currencyStringCode()}"
                                th:text="${eachAccount.currencyTitle()}"/>
                    </select>
                </td>
                <td>
                    <input name="value" type="number" step="0.01" style="width:100%" required/>
                </td>
                <td>
                <td style="text-align:right">
                    <button name="action" value="DEPOSIT">Положить</button>
                    <button name="action" value="WITHDRAWAL">Снять</button>
                </td>
            </tr>
        </table>
    </form>
</div>>