<div th:fragment="transferToOtherClient(login, accounts, clientsWithAccounts)">
    <form method="post" th:action="${'/user/'+login+'/transfer'}">
        <table style="width:100%;margin-left:auto;margin-right:auto;border-radius:2%;padding:10px;background-color:whitesmoke;">
            <tr th:if="${transferOtherErrors!=null}" th:each="transferOtherError : ${transferOtherErrors}">
                <td style="color:red;" th:text="${transferOtherError}"/>
            </tr>
            <td>
                <p style="color:green;" th:if="${isTransferOtherSucceed==true}">операция успешно проведена</p>
            <td>
            <tr>
                <td style="font-weight:bold;">Перевод другому</td>
                <td>
                    Со счета
                    <select name="fromCurrency">
                        <option th:each="eachAccount : ${accounts}" th:if="${eachAccount.isActive()}"
                                th:value="${eachAccount.currencyStringCode()}"
                                th:text="${eachAccount.currencyStringCode()}"/>
                    </select>
                </td>
                <td>
                    На счет
                    <select name="toCurrency">
                        <option th:each="eachAccount : ${accounts}"
                                th:value="${eachAccount.currencyStringCode()}"
                                th:text="${eachAccount.currencyStringCode()}"/>
                    </select>
                </td>
                <td>
                    <input name="amount" type="number" step="0.01" required/>
                </td>
                <td>
                    Кому
                    <select name="toUsername">
                        <option th:each="client: ${clientsWithAccounts}" th:value="${client.username()}"
                                th:text="${client.fullName()}"/>
                    </select>
                </td>
                <td style="text-align:right">
                    <input hidden name="fromUsername" th:value="${login}"/>
                    <input hidden name="direction" th:value="'OTHER'"/>
                    <button>Перевести</button>
                </td>
            </tr>
        </table>
    </form>
</div>