<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8"/>

<head>
    <title>Регистрация</title>
</head>

<body>
<form th:action="${'/registration'}" method="post">
    <table style="width:30%;margin-left:auto;margin-right:auto;border-radius:2%;padding:10px;background-color:whitesmoke;">
        <tr>
            <td colspan="2">
                <span style="color:red;font-weight:bold;">*</span> Все поля обязательны для заполнения
            </td>
        </tr>
        <tr th:if="${!errors.isEmpty()}" th:each="error : ${errors}">
            <td style="color:red;" th:text="${error}" colspan="2"/>
        </tr>
        <tr>
            <td><p style="color:green;" th:if="${isNewClientRegistered==true}">новый клиент зарегистрирован</p></td>
        <tr>
        <tr>
            <td style="font-weight:bold;">Логин</td>
            <td>
                <input name="login" type="text" style="width:100%" required/>
            </td>
        </tr>
        <tr>
            <td style="font-weight:bold;">Пароль</td>
            <td>
                <input name="password" type="password" style="width:100%" required/>
            </td>
        </tr>
        <tr>
            <td style="font-weight:bold;">Повторите пароль</td>
            <td>
                <input name="confirmPassword" type="password" style="width:100%" required/>
            </td>
        </tr>
        <tr>
            <td style="font-weight:bold;">Фамилия Имя</td>
            <td>
                <input name="fullName" type="text" style="width:100%" required/>
            </td>
        </tr>
        <tr>
            <td style="font-weight:bold;">Дата рождения</td>
            <td>
                <input name="birthDate" type="date" th:value="${birthDate}" style="width:100%" required/>
            </td>
        </tr>
        <tr>
            <td style="font-weight:bold;">Электронная почта</td>
            <td>
                <input name="email" type="email" th:value="${email}" style="width:100%" required/>
            </td>
        </tr>
        <tr>
            <td style="text-align:right" colspan="2">
                <button>Зарегистрироваться</button>
            </td>
        </tr>
    </table>
</form>
</body>

</html>